body {
    background: #282634;
    color: #fff;
}

.title {
    text-align: center;
}

.searchForm {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.searchInput {
    width: 320px;
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #ccc;
    outline: none;
}

.searchInput:focus {
    border-color: #007bff;
}

.searchButton {
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.searchButton:hover {
    background: #005dc3;
}

/* Movie Results */
.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    width: 200px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.card img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.cardTitle {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 600;
}

.contentShows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.contentShows div {
    position: relative;
    width: 200px;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
}

.contentShows div:hover img {
    transform: scale(1.15);
}

.contentShows div .titleBox {
    content: "";
    height: 100px;
    position: absolute;
    transform: translatey(50px);
    transition: 0.3s ease;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
    width: 100%;
    z-index: 1;
}

.contentShows div img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: 0.3s ease;
}

.contentShows div .name {
    position: absolute;
    width: 100%;
    bottom: 10px;
    color: #fff;
    transform: translatey(50px);
    padding: 10px;
    z-index: 10;
    transition: .3s ease;
    cursor: default;
}

.contentShows div:hover .name,
.contentShows div:hover .titleBox {
    transform: translatey(0);
}