.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 8px 0;
    margin-bottom: 16px;
    border-bottom: 1px solid black;
}

.nav {
    display: flex;
}

.logo {
    font-weight: 700;
    margin: 0;
}

.logotext {
    text-decoration: none;
    color: #fff;
}

.link {
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.active {
    color: white;
    background-color: orangered;
}